based off this video https://youtu.be/JGQGd-oa0l4?si=593LbMAWQE2is-Fi

In [41]:
import pandas as pd
import requests
import nba_api.stats.endpoints as ep
import nba_api.stats.library as lib
from nba_api.stats.static import players

headers  = {
    'Connection': 'keep-alive',
    'Accept': 'application/json, text/plain, */*',
    'x-nba-stats-token': 'true',
    'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/79.0.3945.130 Safari/537.36',
    'x-nba-stats-origin': 'stats',
    'Sec-Fetch-Site': 'same-origin',
    'Sec-Fetch-Mode': 'cors',
    'Referer': 'https://stats.nba.com/',
    'Accept-Encoding': 'gzip, deflate, br',
    'Accept-Language': 'en-US,en;q=0.9',
}

In [42]:
from nba_api.stats.static import teams

nba_teams = teams.get_teams()
df = pd.DataFrame(nba_teams)
print(df)
teamNames = df['full_name'].to_list()

            id               full_name abbreviation       nickname  \
0   1610612737           Atlanta Hawks          ATL          Hawks
1   1610612738          Boston Celtics          BOS        Celtics
2   1610612739     Cleveland Cavaliers          CLE      Cavaliers
3   1610612740    New Orleans Pelicans          NOP       Pelicans
4   1610612741           Chicago Bulls          CHI          Bulls
5   1610612742        Dallas Mavericks          DAL      Mavericks
6   1610612743          Denver Nuggets          DEN        Nuggets
7   1610612744   Golden State Warriors          GSW       Warriors
8   1610612745         Houston Rockets          HOU        Rockets
9   1610612746    Los Angeles Clippers          LAC       Clippers
10  1610612747      Los Angeles Lakers          LAL         Lakers
11  1610612748              Miami Heat          MIA           Heat
12  1610612749         Milwaukee Bucks          MIL          Bucks
13  1610612750  Minnesota Timberwolves          MIN   Timberwolves
14  1610612751           Brooklyn Nets          BKN           Nets
15  1610612752         New York Knicks          NYK         Knicks
16  1610612753           Orlando Magic          ORL          Magic
17  1610612754          Indiana Pacers          IND         Pacers
18  1610612755      Philadelphia 76ers          PHI          76ers
19  1610612756            Phoenix Suns          PHX           Suns
20  1610612757  Portland Trail Blazers          POR  Trail Blazers
21  1610612758        Sacramento Kings          SAC          Kings
22  1610612759       San Antonio Spurs          SAS          Spurs
23  1610612760   Oklahoma City Thunder          OKC        Thunder
24  1610612761         Toronto Raptors          TOR        Raptors
25  1610612762               Utah Jazz          UTA           Jazz
26  1610612763       Memphis Grizzlies          MEM      Grizzlies
27  1610612764      Washington Wizards          WAS        Wizards
28  1610612765         Detroit Pistons          DET        Pistons
29  1610612766       Charlotte Hornets          CHA        Hornets

             city                 state  year_founded
0         Atlanta               Georgia          1949
1          Boston         Massachusetts          1946
2       Cleveland                  Ohio          1970
3     New Orleans             Louisiana          2002
4         Chicago              Illinois          1966
5          Dallas                 Texas          1980
6          Denver              Colorado          1976
7    Golden State            California          1946
8         Houston                 Texas          1967
9     Los Angeles            California          1970
10    Los Angeles            California          1948
11          Miami               Florida          1988
12      Milwaukee             Wisconsin          1968
13      Minnesota             Minnesota          1989
14       Brooklyn              New York          1976
15       New York              New York          1946
16        Orlando               Florida          1989
17        Indiana               Indiana          1976
18   Philadelphia          Pennsylvania          1949
19        Phoenix               Arizona          1968
20       Portland                Oregon          1970
21     Sacramento            California          1948
22    San Antonio                 Texas          1976
23  Oklahoma City              Oklahoma          1967
24        Toronto               Ontario          1995
25           Utah                  Utah          1974
26        Memphis             Tennessee          1995
27     Washington  District of Columbia          1961
28        Detroit              Michigan          1948
29      Charlotte        North Carolina          1988

# League Leaders

In [7]:
#Index(['PLAYER_ID', 'RANK', 'PLAYER', 'TEAM_ID', 'TEAM', 'GP', 'MIN', 'FGM','FGA', 'FG_PCT', 'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT', 'OREB', 'DREB', 'REB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'EFF', 'AST_TOV', 'STL_TOV'],dtype='object')
from nba_api.stats.endpoints import leagueleaders
game = leagueleaders.LeagueLeaders()
game = game.get_data_frames()
df = pd.DataFrame(game[0])
sorted = df.sort_values(by='EFF', ascending=False)
sorted_data = sorted.head(50)
print(sorted_data)

     PLAYER_ID  RANK                   PLAYER     TEAM_ID TEAM  GP   MIN  FGM  \
7       203999     8             Nikola Jokic  1610612743  DEN  60  2050  611
2       203507     3    Giannis Antetokounmpo  1610612749  MIL  60  2093  687
1      1628983     2  Shai Gilgeous-Alexander  1610612760  OKC  61  2102  671
0      1629029     1              Luka Doncic  1610612742  DAL  55  2068  649
31     1627734    32         Domantas Sabonis  1610612758  SAC  61  2180  489
9       203076    10            Anthony Davis  1610612747  LAL  60  2142  566
6      1628369     7             Jayson Tatum  1610612738  BOS  58  2073  532
13        2544    14             LeBron James  1610612747  LAL  56  1962  535
5       201142     6             Kevin Durant  1610612756  PHX  56  2086  568
24     1630578    25           Alperen Sengun  1610612745  HOU  61  1985  513
33     1630567    34           Scottie Barnes  1610612761  TOR  60  2094  447
85      203497    86              Rudy Gobert  1610612750  MIN  61  2067  322
36     1641705    37        Victor Wembanyama  1610612759  SAS  56  1610  423
17      202695    18            Kawhi Leonard  1610612746  LAC  56  1933  507
19     1627783    20            Pascal Siakam  1610612754  IND  62  2107  522
46     1631096    47            Chet Holmgren  1610612760  OKC  62  1873  399
21     1626157    22       Karl-Anthony Towns  1610612750  MIN  60  1969  472
3      1630162     4          Anthony Edwards  1610612750  MIN  60  2096  551
73     1628386    74            Jarrett Allen  1610612739  CLE  57  1790  372
8      1628973     9            Jalen Brunson  1610612752  NYK  57  2019  550
15      201942    16            DeMar DeRozan  1610612741  CHI  60  2269  470
47     1630169    48        Tyrese Haliburton  1610612754  IND  51  1635  383
12      203081    13           Damian Lillard  1610612749  MIL  58  2023  427
4       201939     5            Stephen Curry  1610612744  GSW  58  1907  518
16     1626164    17             Devin Booker  1610612756  PHX  50  1788  480
32      203954    33              Joel Embiid  1610612755  PHI  34  1157  402
14     1631094    15           Paolo Banchero  1610612753  ORL  61  2125  499
48     1628389    49              Bam Adebayo  1610612748  MIA  52  1804  402
11     1630178    12             Tyrese Maxey  1610612755  PHI  55  2056  497
52      202696    53           Nikola Vucevic  1610612741  CHI  57  1965  437
59      201935    60             James Harden  1610612746  LAC  56  1940  289
23     1628378    24         Donovan Mitchell  1610612739  CLE  47  1679  454
18     1629027    19               Trae Young  1610612737  ATL  51  1862  418
88      202685    89        Jonas Valanciunas  1610612740  NOP  62  1559  332
25     1627749    26          Dejounte Murray  1610612737  ATL  59  2069  486
10     1628368    11             De'Aaron Fox  1610612758  SAC  53  1896  525
34     1628374    35          Lauri Markkanen  1610612762  UTA  51  1677  395
20     1628398    21               Kyle Kuzma  1610612764  WAS  60  1917  523
30     1627742    31           Brandon Ingram  1610612740  NOP  56  1857  452
118     203994   119             Jusuf Nurkic  1610612756  PHX  59  1606  266
29     1629632    30               Coby White  1610612741  CHI  62  2283  433
28      202331    29              Paul George  1610612746  LAC  56  1898  435
51     1626167    52             Myles Turner  1610612754  IND  60  1633  372
39     1629627    40          Zion Williamson  1610612740  NOP  51  1556  444
26     1627759    27             Jaylen Brown  1610612738  BOS  56  1863  487
22     1628969    23            Mikal Bridges  1610612751  BKN  63  2225  464
44     1631114    45           Jalen Williams  1610612760  OKC  56  1790  423
55     1630559    56            Austin Reaves  1610612747  LAL  64  2015  353
129    1629651   129              Nic Claxton  1610612751  BKN  53  1567  279
42      203944    43            Julius Randle  1610612752  NYK  46  1630  395

      FGA  FG_PCT  ...  REB  AST  STL  BLK  TOV   PF   PTS   EFF  AST_TOV  \
7    1055   0.579  ...  738  549   72   55  179  154  1556  2287     3.07
2    1112   0.618  ...  672  378   75   61  202  173  1842  2177     1.87
1    1228   0.546  ...  341  394  130   58  133  155  1900  2069     2.96
0    1308   0.496  ...  495  538   79   31  216  116  1904  2066     2.49
31    806   0.607  ...  821  514   54   33  198  191  1209  2026     2.60
9    1017   0.557  ...  735  216   66  146  121  143  1486  2001     1.78
6    1117   0.476  ...  493  278   58   34  144  118  1569  1636     1.93
13   1013   0.528  ...  395  448   71   33  180   65  1415  1626     2.49
5    1082   0.525  ...  371  305   49   73  185  101  1570  1617     1.65
24    953   0.538  ...  574  304   73   45  161  205  1298  1590     1.89
33    942   0.475  ...  494  363   75   88  165  118  1191  1496     2.20
85    494   0.652  ...  783   73   37  131   94  187   846  1495     0.78
36    901   0.469  ...  574  192   72  193  194  123  1160  1469     0.99
17    970   0.523  ...  346  210   98   47   94   84  1349  1467     2.23
19    979   0.533  ...  407  289   49   18  117  147  1339  1450     2.47
46    735   0.543  ...  487  169   41  157  101  153  1065  1438     1.67
21    932   0.506  ...  504  179   43   40  169  198  1328  1429     1.06
3    1181   0.467  ...  313  303   76   32  186  111  1585  1429     1.63
73    589   0.632  ...  606  156   42   65   96  119   907  1404     1.63
8    1154   0.477  ...  210  374   53   11  142  114  1551  1398     2.63
15    998   0.471  ...  249  319   66   35   88  130  1379  1371     3.63
47    793   0.483  ...  194  580   54   33  119   48  1061  1367     4.87
12   1009   0.423  ...  250  388   61   12  151  103  1418  1365     2.57
4    1146   0.452  ...  254  290   46   21  174   99  1575  1362     1.67
16    971   0.494  ...  229  342   47   20  129  151  1377  1353     2.65
32    754   0.533  ...  384  193   39   60  126   98  1201  1352     1.53
14   1079   0.462  ...  416  320   59   32  188  120  1397  1329     1.70
48    784   0.513  ...  536  210   56   49  126  127  1052  1321     1.67
11   1108   0.449  ...  206  345   56   27   94  121  1431  1320     3.67
52    922   0.474  ...  612  190   40   47   89  151  1016  1316     2.13
59    647   0.447  ...  284  463   61   52  145  107   989  1311     3.19
23    961   0.472  ...  254  290   85   24  137  106  1315  1284     2.12
18    982   0.426  ...  140  553   70   11  220  106  1344  1277     2.51
88    584   0.568  ...  589  137   25   62   86  174   833  1274     1.59
25   1051   0.462  ...  312  337   76   19  136   99  1268  1272     2.48
10   1105   0.475  ...  221  300  101   21  144  135  1436  1258     2.08
34    818   0.483  ...  421  103   44   24   67   95  1176  1250     1.54
20   1132   0.462  ...  391  245   30   42  156  129  1335  1234     1.57
30    918   0.492  ...  280  325   45   33  147  128  1215  1229     2.21
118   515   0.517  ...  637  225   59   63  135  201   689  1221     1.67
29    948   0.457  ...  296  329   43   15  135  144  1221  1219     2.44
28    952   0.457  ...  300  197   87   22  114  156  1238  1189     1.73
51    712   0.522  ...  425   76   33  105   89  190  1030  1184     0.85
39    771   0.576  ...  281  264   45   28  131  116  1123  1178     2.02
26    974   0.500  ...  305  208   59   29  132  149  1256  1173     1.58
22   1048   0.443  ...  301  235   61   25  134   95  1316  1166     1.75
44    784   0.540  ...  226  253   60   29   95  148  1082  1160     2.66
55    717   0.492  ...  258  355   56   14  137  118  1004  1158     2.59
129   445   0.627  ...  521  105   34  115   63  132   644  1130     1.67
42    836   0.472  ...  423  229   25   12  159  125  1102  1125     1.44

     STL_TOV
7       0.40
2       0.37
1       0.98
0       0.37
31      0.27
9       0.55
6       0.40
13      0.39
5       0.27
24      0.45
33      0.46
85      0.39
36      0.37
17      1.04
19      0.42
46      0.41
21      0.25
3       0.41
73      0.44
8       0.37
15      0.75
47      0.45
12      0.40
4       0.26
16      0.36
32      0.31
14      0.31
48      0.44
11      0.60
52      0.45
59      0.42
23      0.62
18      0.32
88      0.29
25      0.56
10      0.70
34      0.66
20      0.19
30      0.31
118     0.44
29      0.32
28      0.76
51      0.37
39      0.34
26      0.45
22      0.46
44      0.63
55      0.41
129     0.54
42      0.16

[50 rows x 28 columns]

# Find last meetups

In [89]:
# from nba_api.stats.endpoints import teamgamelogs
# game = teamgamelogs.TeamGameLogs(season_nullable=2024)
# game = game.get_data_frames()
# df = pd.DataFrame(game[0])
# #game = game.get_json()

# print(df)

# #with open("temp","w+") as f:
# #        f.write(df.to_string())





#Index(['SEASON_ID', 'TEAM_ID', 'TEAM_ABBREVIATION', 'TEAM_NAME', 'GAME_ID', 'GAME_DATE', 'MATCHUP', 'WL', 'MIN', 'PTS', 'FGM', 'FGA', 'FG_PCT', 'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT', 'OREB', 'DREB', 'REB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PLUS_MINUS'], dtype='object')
from nba_api.stats.endpoints import leaguegamefinder
gamefinderCurrSeason = leaguegamefinder.LeagueGameFinder(season_nullable = '2023-24',
                                               league_id_nullable='00',
                                               season_type_nullable='Regular Season')
gamefinderLastSeason = leaguegamefinder.LeagueGameFinder(season_nullable = '2022-23',
                                               league_id_nullable='00',
                                               season_type_nullable='Regular Season')
currSeason = gamefinderCurrSeason.get_data_frames()[0]
lastSeason = gamefinderLastSeason.get_data_frames()[0]

currSeason = pd.DataFrame(currSeason)
lastSeason = pd.DataFrame(lastSeason)

# df = df[df.TEAM_ABBREVIATION == 'UTA']
# with open("temp","w+") as f:
#        f.write(df.to_string())


#Find the game ids of the last time 2 specific teams met
def lastMeetups(team1, team2):

       gameIds = pd.concat([currSeason[currSeason.MATCHUP == (team1+' vs. ' +team2)], currSeason[currSeason.MATCHUP == (team1+' @ ' +team2)], 
                            lastSeason[lastSeason.MATCHUP == (team1+' vs. ' +team2)], lastSeason[lastSeason.MATCHUP == (team1+' @ ' +team2)]]) 
       
       gameIds = gameIds['GAME_ID']

       return gameIds


clipslakers = lastMeetups('LAL','LAC')
print(clipslakers)

765     0022300505
1714    0022300127
76      0022300848
539     0022300618
1029    0022200719
2428    0022200016
71      0022201196
2136    0022200170
Name: GAME_ID, dtype: object

In [130]:
game = last2Seasons[last2Seasons.GAME_ID == '0022300801']
temp = game['PTS'].to_list()
print(game)

    SEASON_ID     TEAM_ID TEAM_ABBREVIATION          TEAM_NAME     GAME_ID  \
166     22023  1610612762               UTA          Utah Jazz  0022300801
181     22023  1610612766               CHA  Charlotte Hornets  0022300801

      GAME_DATE      MATCHUP WL  MIN  PTS  ...  FT_PCT  OREB  DREB  REB  AST  \
166  2024-02-22  UTA vs. CHA  L  240  107  ...   0.889    15    39   54   26
181  2024-02-22    CHA @ UTA  W  240  115  ...   0.682    12    30   42   28

     STL  BLK  TOV  PF  PLUS_MINUS
166    3    2   19  21        -8.0
181   11    3    9  23         8.0

[2 rows x 28 columns]

In [138]:
last2Seasons = pd.concat([currSeason, lastSeason])
#Return avg difference in score given list gameids
def avgScore(games):
    
    accum = 0

    for game in games:
        game = last2Seasons[last2Seasons.GAME_ID == game]
        pts = game['PTS'].to_list()
        print(pts) 
        accum = accum + (pts[0]-pts[1])
        print(accum)
    
    avgdiff = accum / games.size
    #print(games.size)
    return avgdiff 

#print(avgScore(clipslakers))

temp = lastMeetups('BOS', 'DEN')
print(avgScore(temp))

[100, 102]
-2
[131, 112]
17
[123, 111]
29
9.666666666666666

# Get Last Games

In [139]:
from nba_api.stats.endpoints import leaguegamefinder
gamefinderCurrSeason = leaguegamefinder.LeagueGameFinder(season_nullable = '2023-24',
                                               league_id_nullable='00',
                                               season_type_nullable='Regular Season')

currSeason = pd.DataFrame(gamefinderCurrSeason.get_data_frames()[0])
print(currSeason)

     SEASON_ID     TEAM_ID TEAM_ABBREVIATION               TEAM_NAME  \
0        22023  1610612761               TOR         Toronto Raptors
1        22023  1610612743               DEN          Denver Nuggets
2        22023  1610612750               MIN  Minnesota Timberwolves
3        22023  1610612738               BOS          Boston Celtics
4        22023  1610612741               CHI           Chicago Bulls
...        ...         ...               ...                     ...
1869     22023  1610612757               POR  Portland Trail Blazers
1870     22023  1610612747               LAL      Los Angeles Lakers
1871     22023  1610612743               DEN          Denver Nuggets
1872     22023  1610612744               GSW   Golden State Warriors
1873     22023  1610612756               PHX            Phoenix Suns

         GAME_ID   GAME_DATE      MATCHUP    WL  MIN  PTS  ...  FT_PCT  OREB  \
0     0022300905  2024-03-07    TOR @ PHX  None  121   59  ...   0.667     2
1     0022300906  2024-03-07  DEN vs. BOS  None   37   20  ...   1.000     0
2     0022300903  2024-03-07    MIN @ IND     W  241  113  ...   0.737    13
3     0022300906  2024-03-07    BOS @ DEN  None   49   23  ...   0.500     3
4     0022300907  2024-03-07    CHI @ GSW  None   12   14  ...     NaN     0
...          ...         ...          ...   ...  ...  ...  ...     ...   ...
1869  0022300074  2023-10-25    POR @ LAC     L  239  111  ...   0.765    15
1870  0022300061  2023-10-24    LAL @ DEN     L  239  107  ...   0.750    13
1871  0022300061  2023-10-24  DEN vs. LAL     W  240  119  ...   0.750     9
1872  0022300062  2023-10-24  GSW vs. PHX     L  240  104  ...   0.786    18
1873  0022300062  2023-10-24    PHX @ GSW     W  241  108  ...   0.765    17

      DREB  REB  AST  STL  BLK  TOV  PF  PLUS_MINUS
0       15   17   17    3    2    2   8       -14.0
1        5    5    7    1    0    2   3        -3.0
2       35   48   23    9    6    9  20         1.0
3        6    9    5    2    1    1   3         3.0
4        6    6    5    0    0    1   1       -10.0
...    ...  ...  ...  ...  ...  ...  ..         ...
1869    25   40   20   10    4   17  20       -12.0
1870    31   44   23    5    4   11  18       -12.0
1871    33   42   29    9    6   11  15        12.0
1872    31   49   19   11    6   11  23        -4.0
1873    43   60   23    5    7   19  22         4.0

[1874 rows x 28 columns]

In [150]:
#Returns the game ids for the last X amount of games a specific team played
def lastGames(team):
       gameIds = currSeason[currSeason.TEAM_ABBREVIATION == team]
       gameIds = gameIds['GAME_ID']

       return gameIds.head(10)

In [151]:
uta = lastGames('UTA')
print(uta)

22     0022300898
51     0022300882
79     0022300867
108    0022300850
143    0022300835
168    0022300825
229    0022300801
237    0022300576
265    0022300788
296    0022300769
Name: GAME_ID, dtype: object

# Rivalries

In [1]:
import pandas as pd
gsw_rivals = {'Team':['LAL', 'LAC', 'SAC', 'OKC', 'PHX', 'BOS', 'MEM'],
        'RR':[5, 3, 4, 2, 3, 5, 4]}
gsw_rival_scores = pd.DataFrame(gsw_rivals)
lal_rivals = {'Team':['GSW', 'LAC', 'SAC', 'PHX', 'BOS', 'SAS'],
        'RR':[5, 5, 2, 3, 5, 3]}
lal_rival_scores = pd.DataFrame(lal_rivals)
sac_rivals = {'Team':['GSW', 'LAC', 'LAL', 'PHX'],
        'RR':[4, 2, 2, 1]}
sac_rival_scores = pd.DataFrame(sac_rivals)
lac_rivals = {'Team':['GSW', 'LAL', 'SAC', 'PHX'],
        'RR':[3, 5, 2, 2]}
lac = pd.DataFrame(lac_rivals)
phx_rivals = {'Team':['GSW', 'LAC', 'SAC', 'LAL'],
        'RR':[3, 2, 1, 3]}
phx_rival_scores = pd.DataFrame(phx_rivals)
dal_rivals = {'Team':['SAS', 'HOU', 'PHX'],
        'RR':[2, 2, 5]}
dal_rival_scores = pd.DataFrame(dal_rivals)
sas_rivals = {'Team':['DAL', 'HOU', 'OKC', 'LAL'],
        'RR':[2, 2, 4, 3]}
sas_rival_scores = pd.DataFrame(sas_rivals)
okc_rivals = {'Team':['SAS', 'GSW'],
        'RR':[2, 3]}
okc_rival_scores = pd.DataFrame(okc_rivals)
den_rivals = {'Team':['MIN', 'UTA', 'MIA', 'LAL'],
        'RR':[2, 2, 4, 4]}
den_rival_scores = pd.DataFrame(den_rivals)
min_rivals = {'Team':['DEN'],
        'RR':[2]}
min_rival_scores = pd.DataFrame(min_rivals)
uta_rivals = {'Team':['DEN', 'HOU'],
        'RR':[2, 1]}
uta_rival_scores = pd.DataFrame(uta_rivals)
mem_rivals = {'Team':['GSW'],
        'RR':[4]}
mem_rival_scores = pd.DataFrame(mem_rivals)
bos_rivals = {'Team':['PHI', 'GSW', 'NYK', 'LAL', 'MIA', 'DET'],
        'RR':[3, 5, 3, 5, 5, 1]}
bos_rival_scores = pd.DataFrame(bos_rivals)
phi_rivals = {'Team':['BOS'],
        'RR':[3]}
phi_rival_scores = pd.DataFrame(phi_rivals)
nyk_rivals = {'Team':['BOS', 'BKN', 'MIA'],
        'RR':[3, 4, 4]}
nyk_rival_scores = pd.DataFrame(nyk_rivals)
bkn_rivals = {'Team':['NYK'],
        'RR':[4]}
bkn_rival_scores = pd.DataFrame(bkn_rivals)
mia_rivals = {'Team':['ORL', 'BOS', 'NYK', 'DEN'],
        'RR':[2, 5, 4, 4]}
mia_rival_scores = pd.DataFrame(mia_rivals)
det_rivals = {'Team':['BOS'],
        'RR':[1]}
det_rival_scores = pd.DataFrame(det_rivals)

C:\Users\jettb\AppData\Local\Temp\ipykernel_30548\2772721955.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd