based off this video https://youtu.be/JGQGd-oa0l4?si=593LbMAWQE2is-Fi

In [9]:
import pandas as pd
import requests
import nba_api.stats.endpoints as ep
import nba_api.stats.library as lib
from nba_api.stats.static import players

headers  = {
    'Connection': 'keep-alive',
    'Accept': 'application/json, text/plain, */*',
    'x-nba-stats-token': 'true',
    'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/79.0.3945.130 Safari/537.36',
    'x-nba-stats-origin': 'stats',
    'Sec-Fetch-Site': 'same-origin',
    'Sec-Fetch-Mode': 'cors',
    'Referer': 'https://stats.nba.com/',
    'Accept-Encoding': 'gzip, deflate, br',
    'Accept-Language': 'en-US,en;q=0.9',
}

In [10]:
from nba_api.stats.static import teams

nba_teams = teams.get_teams()
df = pd.DataFrame(nba_teams)
print(df)
teamNames = df['full_name'].to_list()

            id               full_name abbreviation       nickname  \
0   1610612737           Atlanta Hawks          ATL          Hawks
1   1610612738          Boston Celtics          BOS        Celtics
2   1610612739     Cleveland Cavaliers          CLE      Cavaliers
3   1610612740    New Orleans Pelicans          NOP       Pelicans
4   1610612741           Chicago Bulls          CHI          Bulls
5   1610612742        Dallas Mavericks          DAL      Mavericks
6   1610612743          Denver Nuggets          DEN        Nuggets
7   1610612744   Golden State Warriors          GSW       Warriors
8   1610612745         Houston Rockets          HOU        Rockets
9   1610612746    Los Angeles Clippers          LAC       Clippers
10  1610612747      Los Angeles Lakers          LAL         Lakers
11  1610612748              Miami Heat          MIA           Heat
12  1610612749         Milwaukee Bucks          MIL          Bucks
13  1610612750  Minnesota Timberwolves          MIN   Timberwolves
14  1610612751           Brooklyn Nets          BKN           Nets
15  1610612752         New York Knicks          NYK         Knicks
16  1610612753           Orlando Magic          ORL          Magic
17  1610612754          Indiana Pacers          IND         Pacers
18  1610612755      Philadelphia 76ers          PHI          76ers
19  1610612756            Phoenix Suns          PHX           Suns
20  1610612757  Portland Trail Blazers          POR  Trail Blazers
21  1610612758        Sacramento Kings          SAC          Kings
22  1610612759       San Antonio Spurs          SAS          Spurs
23  1610612760   Oklahoma City Thunder          OKC        Thunder
24  1610612761         Toronto Raptors          TOR        Raptors
25  1610612762               Utah Jazz          UTA           Jazz
26  1610612763       Memphis Grizzlies          MEM      Grizzlies
27  1610612764      Washington Wizards          WAS        Wizards
28  1610612765         Detroit Pistons          DET        Pistons
29  1610612766       Charlotte Hornets          CHA        Hornets

             city                 state  year_founded
0         Atlanta               Georgia          1949
1          Boston         Massachusetts          1946
2       Cleveland                  Ohio          1970
3     New Orleans             Louisiana          2002
4         Chicago              Illinois          1966
5          Dallas                 Texas          1980
6          Denver              Colorado          1976
7    Golden State            California          1946
8         Houston                 Texas          1967
9     Los Angeles            California          1970
10    Los Angeles            California          1948
11          Miami               Florida          1988
12      Milwaukee             Wisconsin          1968
13      Minnesota             Minnesota          1989
14       Brooklyn              New York          1976
15       New York              New York          1946
16        Orlando               Florida          1989
17        Indiana               Indiana          1976
18   Philadelphia          Pennsylvania          1949
19        Phoenix               Arizona          1968
20       Portland                Oregon          1970
21     Sacramento            California          1948
22    San Antonio                 Texas          1976
23  Oklahoma City              Oklahoma          1967
24        Toronto               Ontario          1995
25           Utah                  Utah          1974
26        Memphis             Tennessee          1995
27     Washington  District of Columbia          1961
28        Detroit              Michigan          1948
29      Charlotte        North Carolina          1988

In [11]:
from nba_api.stats.endpoints import leagueleaders
gamestreak = leagueleaders.LeagueLeaders()
gamestreak = gamestreak.get_data_frames()
df = pd.DataFrame(gamestreak[0])
#df.columns
print(df)

     PLAYER_ID  RANK                   PLAYER     TEAM_ID TEAM  GP   MIN  FGM  \
0      1628983     1  Shai Gilgeous-Alexander  1610612760  OKC  56  1932  615
1       203507     2    Giannis Antetokounmpo  1610612749  MIL  56  1965  645
2      1629029     2              Luka Doncic  1610612742  DAL  50  1873  583
3      1628973     4            Jalen Brunson  1610612752  NYK  55  1981  539
4       201939     5            Stephen Curry  1610612744  GSW  54  1798  486
..         ...   ...                      ...         ...  ...  ..   ...  ...
541    1631250   526               Pete Nance  1610612739  CLE   2     4    0
542    1631199   526           Ron Harper Jr.  1610612761  TOR   1     4    0
543    1627853   526         Ryan Arcidiacono  1610612752  NYK  20    45    0
544    1630586   526             Usman Garuba  1610612744  GSW   3     8    0
545    1630249   526               Vit Krejci  1610612737  ATL   1     2    0

      FGA  FG_PCT  ...  REB  AST  STL  BLK  TOV   PF   PTS   EFF  AST_TOV  \
0    1122   0.548  ...  309  370  120   51  121  140  1746  1909     3.06
1    1047   0.616  ...  631  360   74   59  197  165  1725  2035     1.83
2    1179   0.494  ...  439  479   75   31  193  102  1725  1859     2.48
3    1128   0.478  ...  205  369   53   11  138  110  1524  1380     2.67
4    1067   0.455  ...  228  275   45   21  163   96  1486  1290     1.69
..    ...     ...  ...  ...  ...  ...  ...  ...  ...   ...   ...      ...
541     2   0.000  ...    0    0    0    0    0    0     0    -2     0.00
542     0   0.000  ...    0    1    0    0    0    2     0     1     0.00
543     6   0.000  ...    8    4    2    0    2    5     0     6     2.00
544     1   0.000  ...    1    1    1    0    0    2     0     2     0.00
545     0   0.000  ...    0    0    0    0    0    0     0     0     0.00

     STL_TOV
0       0.99
1       0.38
2       0.39
3       0.38
4       0.28
..       ...
541     0.00
542     0.00
543     1.00
544     0.00
545     0.00

[546 rows x 28 columns]

#Team Stats

In [12]:
from nba_api.stats.endpoints import boxscoreadvancedv3
gamestreak = boxscoreadvancedv3.team_stats()
gamestreak = gamestreak.get_data_frames()
df = pd.DataFrame(gamestreak[0])
#df.columns
print(df)

AttributeError: module 'nba_api.stats.endpoints.boxscoreadvancedv3' has no attribute 'team_stats'

In [ ]:
#Index(['TEAM_NAME', 'TEAM_ID', 'GAMESTREAK', 'STARTDATE', 'ENDDATE','ACTIVESTREAK', 'NUMSEASONS', 'LASTSEASON', 'FIRSTSEASON', 'ABBREVIATION'],dtype='object')
from nba_api.stats.endpoints import teamgamestreakfinder
gamestreak = teamgamestreakfinder.TeamGameStreakFinder()
gamestreak = gamestreak.get_data_frames()

df = pd.DataFrame(gamestreak[0])

df = df[df.TEAM_NAME.isin(teamNames)]

print(df)

with open("temp", "w+") as f:
    f.write(df.to_string())

                 TEAM_NAME     TEAM_ID  GAMESTREAK            STARTDATE  \
0        San Antonio Spurs  1610612759        3366  1983-10-29T00:00:00
1       Los Angeles Lakers  1610612747        3364  1983-10-28T00:00:00
2       Philadelphia 76ers  1610612755        3363  1983-10-28T00:00:00
3         Dallas Mavericks  1610612742        3361  1983-10-29T00:00:00
4    Golden State Warriors  1610612744        3354  1983-10-28T00:00:00
5          Houston Rockets  1610612745        3353  1983-10-29T00:00:00
6                Utah Jazz  1610612762        3352  1983-10-28T00:00:00
7   Portland Trail Blazers  1610612757        3352  1983-10-28T00:00:00
8             Phoenix Suns  1610612756        3351  1983-10-29T00:00:00
9           Boston Celtics  1610612738        3349  1983-10-28T00:00:00
10         Milwaukee Bucks  1610612749        3347  1983-10-28T00:00:00
11          Denver Nuggets  1610612743        3347  1983-10-28T00:00:00
12     Cleveland Cavaliers  1610612739        3344  1983-10-28T00:00:00
13         New York Knicks  1610612752        3340  1983-10-28T00:00:00
14         Detroit Pistons  1610612765        3339  1983-10-28T00:00:00
15          Indiana Pacers  1610612754        3332  1983-10-28T00:00:00
16           Atlanta Hawks  1610612737        3332  1983-10-28T00:00:00
17           Chicago Bulls  1610612741        3330  1983-10-29T00:00:00
18        Sacramento Kings  1610612758        3197  1985-10-25T00:00:00
19              Miami Heat  1610612748        2963  1988-11-05T00:00:00
20  Minnesota Timberwolves  1610612750        2851  1989-11-03T00:00:00
21           Orlando Magic  1610612753        2829  1989-11-04T00:00:00
22    Los Angeles Clippers  1610612746        2529  1984-10-27T00:00:00
23         Toronto Raptors  1610612761        2357  1995-11-03T00:00:00
25      Washington Wizards  1610612764        2197  1997-10-31T00:00:00
27       Charlotte Hornets  1610612766        1933  1988-11-04T00:00:00
28       Memphis Grizzlies  1610612763        1923  2001-11-01T00:00:00
29   Oklahoma City Thunder  1610612760        1322  2008-10-29T00:00:00
31           Brooklyn Nets  1610612751        1001  2012-07-09T00:00:00
32    New Orleans Pelicans  1610612740         911  2013-07-12T00:00:00

                ENDDATE  ACTIVESTREAK  NUMSEASONS LASTSEASON FIRSTSEASON  \
0   2024-02-25T00:00:00             1          41    2023-24     1983-84
1   2024-02-25T00:00:00             1          41    2023-24     1983-84
2   2024-02-25T00:00:00             1          41    2023-24     1983-84
3   2024-02-25T00:00:00             1          41    2023-24     1983-84
4   2024-02-25T00:00:00             1          41    2023-24     1983-84
5   2024-02-25T00:00:00             1          41    2023-24     1983-84
6   2024-02-25T00:00:00             1          41    2023-24     1983-84
7   2024-02-25T00:00:00             1          41    2023-24     1983-84
8   2024-02-25T00:00:00             1          41    2023-24     1983-84
9   2024-02-24T00:00:00             1          41    2023-24     1983-84
10  2024-02-25T00:00:00             1          41    2023-24     1983-84
11  2024-02-25T00:00:00             1          41    2023-24     1983-84
12  2024-02-25T00:00:00             1          41    2023-24     1983-84
13  2024-02-26T00:00:00             1          41    2023-24     1983-84
14  2024-02-26T00:00:00             1          41    2023-24     1983-84
15  2024-02-26T00:00:00             1          41    2023-24     1983-84
16  2024-02-25T00:00:00             1          41    2023-24     1983-84
17  2024-02-25T00:00:00             1          41    2023-24     1983-84
18  2024-02-26T00:00:00             1          39    2023-24     1985-86
19  2024-02-26T00:00:00             1          36    2023-24     1988-89
20  2024-02-24T00:00:00             1          35    2023-24     1989-90
21  2024-02-25T00:00:00             1          35    2023-24     1989-90
22  2015-04-14T00:00:00             0          31    2014-15     1984-85
23  2024-02-26T00:00:00             1          29    2023-24     1995-96
25  2024-02-25T00:00:00             1          27    2023-24     1997-98
27  2024-02-25T00:00:00             1          24    2023-24     1988-89
28  2024-02-26T00:00:00             1          23    2023-24     2001-02
29  2024-02-25T00:00:00             1          16    2023-24     2008-09
31  2024-02-26T00:00:00             1          12    2023-24     2012-13
32  2024-02-25T00:00:00             1          11    2023-24     2013-14

   ABBREVIATION
0          None
1          None
2          None
3          None
4          None
5          None
6          None
7          None
8          None
9          None
10         None
11         None
12         None
13         None
14         None
15         None
16         None
17         None
18         None
19         None
20         None
21         None
22         None
23         None
25         None
27         None
28         None
29         None
31         None
32         None