based off this video https://youtu.be/JGQGd-oa0l4?si=593LbMAWQE2is-Fi

In [41]:
import pandas as pd
import requests
import nba_api.stats.endpoints as ep
import nba_api.stats.library as lib
from nba_api.stats.static import players

headers  = {
    'Connection': 'keep-alive',
    'Accept': 'application/json, text/plain, */*',
    'x-nba-stats-token': 'true',
    'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/79.0.3945.130 Safari/537.36',
    'x-nba-stats-origin': 'stats',
    'Sec-Fetch-Site': 'same-origin',
    'Sec-Fetch-Mode': 'cors',
    'Referer': 'https://stats.nba.com/',
    'Accept-Encoding': 'gzip, deflate, br',
    'Accept-Language': 'en-US,en;q=0.9',
}

In [42]:
from nba_api.stats.static import teams

nba_teams = teams.get_teams()
df = pd.DataFrame(nba_teams)
print(df)
teamNames = df['full_name'].to_list()

            id               full_name abbreviation       nickname  \
0   1610612737           Atlanta Hawks          ATL          Hawks
1   1610612738          Boston Celtics          BOS        Celtics
2   1610612739     Cleveland Cavaliers          CLE      Cavaliers
3   1610612740    New Orleans Pelicans          NOP       Pelicans
4   1610612741           Chicago Bulls          CHI          Bulls
5   1610612742        Dallas Mavericks          DAL      Mavericks
6   1610612743          Denver Nuggets          DEN        Nuggets
7   1610612744   Golden State Warriors          GSW       Warriors
8   1610612745         Houston Rockets          HOU        Rockets
9   1610612746    Los Angeles Clippers          LAC       Clippers
10  1610612747      Los Angeles Lakers          LAL         Lakers
11  1610612748              Miami Heat          MIA           Heat
12  1610612749         Milwaukee Bucks          MIL          Bucks
13  1610612750  Minnesota Timberwolves          MIN   Timberwolves
14  1610612751           Brooklyn Nets          BKN           Nets
15  1610612752         New York Knicks          NYK         Knicks
16  1610612753           Orlando Magic          ORL          Magic
17  1610612754          Indiana Pacers          IND         Pacers
18  1610612755      Philadelphia 76ers          PHI          76ers
19  1610612756            Phoenix Suns          PHX           Suns
20  1610612757  Portland Trail Blazers          POR  Trail Blazers
21  1610612758        Sacramento Kings          SAC          Kings
22  1610612759       San Antonio Spurs          SAS          Spurs
23  1610612760   Oklahoma City Thunder          OKC        Thunder
24  1610612761         Toronto Raptors          TOR        Raptors
25  1610612762               Utah Jazz          UTA           Jazz
26  1610612763       Memphis Grizzlies          MEM      Grizzlies
27  1610612764      Washington Wizards          WAS        Wizards
28  1610612765         Detroit Pistons          DET        Pistons
29  1610612766       Charlotte Hornets          CHA        Hornets

             city                 state  year_founded
0         Atlanta               Georgia          1949
1          Boston         Massachusetts          1946
2       Cleveland                  Ohio          1970
3     New Orleans             Louisiana          2002
4         Chicago              Illinois          1966
5          Dallas                 Texas          1980
6          Denver              Colorado          1976
7    Golden State            California          1946
8         Houston                 Texas          1967
9     Los Angeles            California          1970
10    Los Angeles            California          1948
11          Miami               Florida          1988
12      Milwaukee             Wisconsin          1968
13      Minnesota             Minnesota          1989
14       Brooklyn              New York          1976
15       New York              New York          1946
16        Orlando               Florida          1989
17        Indiana               Indiana          1976
18   Philadelphia          Pennsylvania          1949
19        Phoenix               Arizona          1968
20       Portland                Oregon          1970
21     Sacramento            California          1948
22    San Antonio                 Texas          1976
23  Oklahoma City              Oklahoma          1967
24        Toronto               Ontario          1995
25           Utah                  Utah          1974
26        Memphis             Tennessee          1995
27     Washington  District of Columbia          1961
28        Detroit              Michigan          1948
29      Charlotte        North Carolina          1988

# League Leaders

In [43]:
#Index(['PLAYER_ID', 'RANK', 'PLAYER', 'TEAM_ID', 'TEAM', 'GP', 'MIN', 'FGM','FGA', 'FG_PCT', 'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT', 'OREB', 'DREB', 'REB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'EFF', 'AST_TOV', 'STL_TOV'],dtype='object')
from nba_api.stats.endpoints import leagueleaders
game = leagueleaders.LeagueLeaders()
game = game.get_data_frames()
df = pd.DataFrame(game[0])
print(df)

     PLAYER_ID  RANK                   PLAYER     TEAM_ID TEAM  GP   MIN  FGM  \
0      1628983     1  Shai Gilgeous-Alexander  1610612760  OKC  59  2037  653
1      1629029     2              Luka Doncic  1610612742  DAL  53  1985  622
2       203507     3    Giannis Antetokounmpo  1610612749  MIL  59  2060  679
3      1628973     4            Jalen Brunson  1610612752  NYK  57  2019  550
4       201939     5            Stephen Curry  1610612744  GSW  57  1877  508
..         ...   ...                      ...         ...  ...  ..   ...  ...
543    1631250   528               Pete Nance  1610612739  CLE   2     4    0
544    1631199   528           Ron Harper Jr.  1610612761  TOR   1     4    0
545    1627853   528         Ryan Arcidiacono  1610612752  NYK  20    45    0
546    1630586   528             Usman Garuba  1610612744  GSW   3     8    0
547    1630249   528               Vit Krejci  1610612737  ATL   1     2    0

      FGA  FG_PCT  ...  REB  AST  STL  BLK  TOV   PF   PTS   EFF  AST_TOV  \
0    1192   0.548  ...  331  385  125   55  125  150  1843  2012     3.08
1    1254   0.496  ...  473  516   78   31  207  110  1830  1984     2.49
2    1097   0.619  ...  665  372   75   60  200  172  1819  2152     1.86
3    1154   0.477  ...  210  374   53   11  142  114  1551  1398     2.63
4    1128   0.450  ...  246  285   46   21  172   98  1546  1331     1.66
..    ...     ...  ...  ...  ...  ...  ...  ...  ...   ...   ...      ...
543     2   0.000  ...    0    0    0    0    0    0     0    -2     0.00
544     0   0.000  ...    0    1    0    0    0    2     0     1     0.00
545     6   0.000  ...    8    4    2    0    2    5     0     6     2.00
546     1   0.000  ...    1    1    1    0    0    2     0     2     0.00
547     0   0.000  ...    0    0    0    0    0    0     0     0     0.00

     STL_TOV
0       1.00
1       0.38
2       0.38
3       0.37
4       0.27
..       ...
543     0.00
544     0.00
545     1.00
546     0.00
547     0.00

[548 rows x 28 columns]

# Find last meetups

In [89]:
# from nba_api.stats.endpoints import teamgamelogs
# game = teamgamelogs.TeamGameLogs(season_nullable=2024)
# game = game.get_data_frames()
# df = pd.DataFrame(game[0])
# #game = game.get_json()

# print(df)

# #with open("temp","w+") as f:
# #        f.write(df.to_string())





#Index(['SEASON_ID', 'TEAM_ID', 'TEAM_ABBREVIATION', 'TEAM_NAME', 'GAME_ID', 'GAME_DATE', 'MATCHUP', 'WL', 'MIN', 'PTS', 'FGM', 'FGA', 'FG_PCT', 'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT', 'OREB', 'DREB', 'REB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PLUS_MINUS'], dtype='object')
from nba_api.stats.endpoints import leaguegamefinder
gamefinderCurrSeason = leaguegamefinder.LeagueGameFinder(season_nullable = '2023-24',
                                               league_id_nullable='00',
                                               season_type_nullable='Regular Season')
gamefinderLastSeason = leaguegamefinder.LeagueGameFinder(season_nullable = '2022-23',
                                               league_id_nullable='00',
                                               season_type_nullable='Regular Season')
currSeason = gamefinderCurrSeason.get_data_frames()[0]
lastSeason = gamefinderLastSeason.get_data_frames()[0]

currSeason = pd.DataFrame(currSeason)
lastSeason = pd.DataFrame(lastSeason)

# df = df[df.TEAM_ABBREVIATION == 'UTA']
# with open("temp","w+") as f:
#        f.write(df.to_string())


#Find the game ids of the last time 2 specific teams met
def lastMeetups(team1, team2):

       gameIds = pd.concat([currSeason[currSeason.MATCHUP == (team1+' vs. ' +team2)], currSeason[currSeason.MATCHUP == (team1+' @ ' +team2)], 
                            lastSeason[lastSeason.MATCHUP == (team1+' vs. ' +team2)], lastSeason[lastSeason.MATCHUP == (team1+' @ ' +team2)]]) 
       
       gameIds = gameIds['GAME_ID']

       return gameIds
       pass


clipslakers = lastMeetups('LAL','LAC')
print(clipslakers)

765     0022300505
1714    0022300127
76      0022300848
539     0022300618
1029    0022200719
2428    0022200016
71      0022201196
2136    0022200170
Name: GAME_ID, dtype: object

In [130]:
game = last2Seasons[last2Seasons.GAME_ID == '0022300801']
temp = game['PTS'].to_list()
print(game)

    SEASON_ID     TEAM_ID TEAM_ABBREVIATION          TEAM_NAME     GAME_ID  \
166     22023  1610612762               UTA          Utah Jazz  0022300801
181     22023  1610612766               CHA  Charlotte Hornets  0022300801

      GAME_DATE      MATCHUP WL  MIN  PTS  ...  FT_PCT  OREB  DREB  REB  AST  \
166  2024-02-22  UTA vs. CHA  L  240  107  ...   0.889    15    39   54   26
181  2024-02-22    CHA @ UTA  W  240  115  ...   0.682    12    30   42   28

     STL  BLK  TOV  PF  PLUS_MINUS
166    3    2   19  21        -8.0
181   11    3    9  23         8.0

[2 rows x 28 columns]

In [136]:
last2Seasons = pd.concat([currSeason, lastSeason])
#Return avg difference in score given list gameids
def avgScore(games):
    
    accum = 0

    for game in games:
        game = last2Seasons[last2Seasons.GAME_ID == game]
        pts = game['PTS'].to_list()
        print(pts)
        accum = accum + (pts[0]-pts[1])
        print(accum)
    
    avgdiff = accum / games.size
    #print(games.size)
    return avgdiff 

print(avgScore(clipslakers))

[103, 106]
-3
[125, 130]
-8
[112, 116]
-12
[127, 116]
-1
[115, 133]
-19
[97, 103]
-25
[118, 125]
-32
[114, 101]
-19
-2.375

# Rivalries

In [46]:
'''
Celtics–Lakers 
Celtics-Warriors 

Eastern Conference
Atlantic Division
76ers–Celtics rivalry
Celtics–Knicks rivalry
Knicks–Nets rivalry

Southeast Division
Heat–Magic rivalry

Interdivisional
Bulls–Knicks rivalry
Celtics–Heat rivalry
Celtics–Pistons rivalry
Heat–Knicks rivalry
Knicks–Pacers rivalry

Western Conference
Pacific Division
Kings–Lakers rivalry
Kings–Warriors rivalry
Kings-Clippers
Lakers–Clippers rivalry
Lakers–Suns rivalry
Lakers–Warriors rivalry
Suns-Warriors
Suns-Clippers
Suns-Kings

Southwest Division
Mavericks–Spurs rivalry
Mavericks-Rockets
Thunder-Spurs
Rockets–Spurs rivalry


Northwest Division
Jazz–Nuggets rivalry
Timberwolves-Nuggets
Thunder-Nuggets

Interdivisional
Jazz–Rockets rivalry
Lakers–Spurs rivalry
Spurs–Suns rivalry
'''

'\nCeltics–Lakers \nCeltics-Warriors \n\nEastern Conference\nAtlantic Division\n76ers–Celtics rivalry\nCeltics–Knicks rivalry\nKnicks–Nets rivalry\n\nSoutheast Division\nHeat–Magic rivalry\n\nInterdivisional\nBulls–Knicks rivalry\nCeltics–Heat rivalry\nCeltics–Pistons rivalry\nHeat–Knicks rivalry\nKnicks–Pacers rivalry\n\nWestern Conference\nPacific Division\nKings–Lakers rivalry\nKings–Warriors rivalry\nKings-Clippers\nLakers–Clippers rivalry\nLakers–Suns rivalry\nLakers–Warriors rivalry\nSuns-Warriors\nSuns-Clippers\nSuns-Kings\n\nSouthwest Division\nMavericks–Spurs rivalry\nMavericks-Rockets\nThunder-Spurs\nRockets–Spurs rivalry\n\n\nNorthwest Division\nJazz–Nuggets rivalry\nTimberwolves-Nuggets\nThunder-Nuggets\n\nInterdivisional\nJazz–Rockets rivalry\nLakers–Spurs rivalry\nSpurs–Suns rivalry\n'